{% extends 'biblioteca/base.html' %}

{% block title %}Fale com a gente{% endblock %}

{% block content %}
  <div class="container text-white py-5 text-center">
    <h2 class="mb-4">💌 Entre em Contato</h2>
    <p class="lead">Dúvidas, sugestões ou ideias? Este é o espaço para você entrar em contato com os responsáveis pela plataforma.</p>
    <p>Email: <strong>contato@aruacomopalco.com.br</strong></p>
    <p>Instagram: <a href="https://instagram.com/aruacomopalco" target="_blank">@aruacomopalco</a></p>
  </div>
{% endblock %}


