{% extends 'biblioteca/base.html' %}
{% load static %}


{% block title %}Início - A Rua Como Palco{% endblock %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'index' %}">Início</a>
    <a href="{% url 'cadastrar_artista' %}">Cadastre-se como artista</a>
    <a href="{% url 'listar_artistas' %}">Artistas</a>
    <a href="{% url 'galeria' %}">Galeria</a>
    <a href="{% url 'eventos' %}">Agenda</a>
    <a href="{% url 'locais' %}">Locais</a>
    <a href="{% url 'contato' %}">Contato</a>
    <a href="{% url 'apoio' %}">Apoio</a>
    <a href="{% url 'sobre' %}">Sobre</a>
  </nav>
  
</header>

<main>
  <section class="destaque">
    <h1>A RUA COMO PALCO</h1>
    <p>Arte urbana, intervenções e cultura viva nas ruas do Brasil</p>
    <a href="#" class="botao">Ver Galeria</a>
  </section>

  <section class="eventos">
    <h2>Intervenções Recentes</h2>
    <article>
      <h3>Roda de conversa sobre Batalha de Rima</h3>
      <p>Venha conversar e interagir com a gente junto-se para saber mais sobre as famosas batalhas de rimas da periferia</p>
      <p><strong>Data:</strong> 26 de Julho de 2025</p>
    </article>
    <article>
      <h3>Arte do Grafite</h3>
      <p>Venha ver como é feita uma arte de rua e aprender mais sobre a cultura do Grafite. Espero todos vocês</p>
      <p><strong>Data:</strong> 27 de Julho de 2025</p>
    </article>
  </section>
  <div class="voltar">
    <a href="javascript:history.back()" class="botao">← Voltar</a>
  </div>
</main>

<footer>
  <p>&copy; 2025 A Rua Como Palco</p>
</footer>
{% endblock %}
